<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" type="image/png" href="/static/img/LOGOsencillopy.png" >
    <link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap"
  rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Registro</title>
    <style>
        /* .emprendedor-independiente {
            display: flex;
        }
        .pf-1{
            background-color:#6995C0;
            margin-right: 15px;
        }
        .pf-2{
            background-color: #6995C0;
            margin-right: 15px;
        } */
        body 
        {
    font-family: "Inter", sans-serif;
  }

  .background-animate {
    background-size: 400%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');
    </style>
</head>
<!------------------------------------------ ACA EMPIEZA EL CODIGO DE LA PAGINA --------------------------------------------------------->
<!-- ANIMACION DEL FONDO -->
<body class=" text-[#FAFAFA]
      w-full
      h-screen
      bg-gradient-to-r
      from-pink-500
      via-blue-500
      to-purple-500
      background-animate
    " style="font-family: 'Raleway', sans-serif;">

    <!-- ------------------------------------EL HEADER ------------------------------------------------------->
    <div class="justify-between" >
        <header class="flex justify-between items-center text-[#FAFAFA] text-xl" style="font-family: 'Raleway', sans-serif; font-weight: 900">
            <div class="flex justify-between items-center text-gray-800 p-2"> 
                <img src="/static/img/LOGOsencillopy.png" alt="" class="h-24 p-4">
                <a href="{{url_for('pag_inicio')}}"><p class="text-[#ffc901]">Sencillo</p></a> <a href="{{url_for('pag_inicio')}}"><p class="text-[#FAFAFA]">Py</p> 
            </div>
            <div class="space-x-4 p-4">
                <button class="text-[#1f2937] group relative h-12 w-48 drop-shadow-sm overflow-hidden rounded-full bg-[#fafafa] text-lg shadow hover:bg-[#EEE7E7]"><a href="{{url_for('inicio_sesion')}}">Iniciar Sesion</a>
                </button>
            </div>
        </header>
    

     <!-- ------------------------------------EL FORMULARIO------------------------------------------------------->     
<form class="w-fit p-20 m-10 bg-[#1f2937] border-gray-300 drop-shadow-sm rounded-3xl mx-auto" method="POST">
    <!---------- Titulo ------------->
    <p class="text-[#FAFAFA] text-5xl font-bold mb-6">REGISTRO</p>
    <!--------- Contenido ----------->
    <div class="mb-6 w-full">
        <div>
            <label for="usuario" class="block mb-2 text-sm font-medium text-gray-200">Usuario</label>
            <input type="text" name="usuario" class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-full" placeholder="Nombre de Usuario" required >
        </div>
    </div>


    <div class="mb-6 w-full">
        <div class="mb-6 w-full">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-200">Contraseña</label>
            <input type="password" name="password" class="w-full bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="•••••••••" required>
        </div> 

        <label for="email" class="block mb-2 text-sm font-medium text-gray-200">Dirección de Email</label>
        <input type="email" name="email" class="w-full border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ingrese Email" required>


    </div>


    <div class="mb-6 w-full">
        <label for="ciudad" class="block mb-2 text-sm font-medium text-gray-200">Ciudad</label>
            <select name="ciudad" class="bg-gray-50 border border-gray-300 text-gray-400 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">

            <option selected>Ciudad</option>

            <option value="AS">Asunción</option>
            <option value="CE">Central</option>
            <option value="LU">Luque</option>
            <option value="LA">Lambaré</option>
            <option value="CO">Concepción</option>
            </select>
    </div>
    <div class="mb-6 w-full">
        <label for="edad" class="block mb-2 text-sm font-medium text-gray-200">Edad</label>

        <select name="edad" class="bg-gray-50 border border-gray-300 text-gray-400 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">

            
            <option selected>Seleccione su Edad</option>
            <option value="18">18-25</option>
            <option value="25">25-30</option>
            <option value="30">30-35</option>
            <option value="35">35-40</option>
            <option value="40">40-45</option>
            <option value="45">45 o más</option>
        </select>
    </div>
    
    <div class="mb-6 w-full">
        <label for="genero" class="block mb-2 text-sm font-medium text-gray-200">Genero</label>
            <select name="genero" class="bg-gray-50 border border-gray-300 text-gray-400 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">


            <option selected>Seleccione su Genero</option>
            <option value="HO">Masculino</option>
            <option value="MU">Femenino</option>
            <option value="PN">No binario</option>
            </select>
    </div>


    <div class="mb-6 w-full">
        <label for="profesion" class="block mb-2 text-sm font-medium text-gray-200">Eres un</label>
            <select name="profesion" class="bg-gray-50 border border-gray-300 text-gray-400 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">

            <option selected>Seleccione su Opcion</option>
            <option value="EM">Emprendedor</option>
            <option value="PI">Profesional Independiente</option>
            </select>
    </div>
    
    <div class="flex items-start mb-6 m-5">
        <div class="flex items-center h-5">
        <input name="terminos" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required>
        </div>
        <label for="terminos" class="ml-2 text-sm font-medium text-gray-200">Acepto los <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terminos y condiciones</a>.</label>
    </div>
    
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Registrarse</button>
</form>
<!-------------------------------------------------EL BOTON DE VOLVER -------------------------------------------------->
<div class="flex justify-end">
    <button class="group relative h-12 w-48 drop-shadow-sm overflow-hidden rounded-lg bg-white text-lg shadow m-10">
        <div class="absolute inset-0 w-0 bg-[#1f2937] transition-all duration-[700ms] ease-out group-hover:w-full"></div>
        <span class="relative text-black group-hover:text-white"><a href = "{{url_for('pag_inicio')}}">Volver atras</a></span>
    </button>
</div>
</body>
</html>