<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap"
  rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Inicio</title>
    <style>
        /* .emprendedor-independiente {
            display: flex;
        }
        .pf-1{
            background-color:#6995C0;
            margin-right: 15px;
        }
        .pf-2{
            background-color: #6995C0;
            margin-right: 15px;
        } */
        body {
    font-family: "Inter", sans-serif;
  }

  .background-animate {
    background-size: 400%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');
    </style>
</head>
<!------------------------------------------ ACA EMPIEZA EL CODIGO DE LA PAGINA --------------------------------------------------------->
<!-- ANIMACION DEL FONDO -->
<body class=" text-[#FAFAFA]" style="font-family: 'Raleway', sans-serif;">
    <div
    class="
      w-full
      h-screen
      bg-gradient-to-r
      from-pink-500
      via-blue-500
      to-purple-500
      background-animate
    "
  >
  <!-- EL HEADER -->
    <div class="justify-between" >
        <header class="flex justify-between items-center text-[#FAFAFA] text-xl" style="font-family: 'Raleway', sans-serif; font-weight: 900">
            <div> 
                <img src="/static/Logo_mientras.png" alt="" class="h-24 p-4">
            </div>
            <div class="space-x-4 p-4">
                <button class="group relative h-12 w-48 overflow-hidden rounded-full bg-[#1f2937] text-lg shadow hover:bg-[#151B23] ">
                    Registrarse
                  </button>
                <button class="text-[#1f2937] group relative h-12 w-48 overflow-hidden rounded-full bg-[#fafafa] text-lg shadow hover:bg-[#EEE7E7]">
                    Iniciar Sesion
                  </button>
            </div>
        </header>

<!-- EL TITULO -->
</div>
    <h1 class="text-5xl	font-bold text-[#FAFAFA] bg-[#1f2937] p-5 flex justify-center my-8"> HUFFLEPUFF </h1>

<!-- CUADRADITO DONDE VAN LAS CARTAS -->
    <div class="flex justify-center space-x-44 items-center m-10">
        <!-- PRIMERA CARTA: EMPRENDEDOR -->
        <div class="flex items-center pf-1 max-w-lg max-h-30 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
            </a>
            <div class="p-4">
                <a href="#">
                    <img class="rounded w-full h-60 object-cover object-top mb-3" src="https://israelsilvamx.com/wp-content/uploads/2021/04/queesunemprendedor.jpg" alt="" />
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">¿Que es un Emprendedor?</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un emprendedor es una persona que identifica una oportunidad y...</p>
                <button class="group relative h-12 w-48 overflow-hidden rounded-lg bg-white text-lg shadow">
                    <div class="absolute inset-0 w-0 bg-[#7d6cd2] transition-all duration-[700ms] ease-out group-hover:w-full"></div>
                    <span class="relative text-black group-hover:text-white">Ver mas</span>
                  </button>
            </div>
        </div>
        <!-- SEGUNDA CARTA: PROFESIONAL INDEPENDIENTE -->
        <div class="flex items-center pf-1 max-w-lg max-h-30 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
            </a>
            <div class="p-4">
                <a href="#">
                    <img class="rounded w-full h-60 object-cover object-top mb-3" src="http://3.bp.blogspot.com/-DH2dNw7HkhU/UNstlojYX_I/AAAAAAAAGs4/oGJnxumLrXs/s1600/free2.jpg" alt="" />
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">¿Que es un profesional independiente?</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Un profesional independiente es la persona que trabaja por cuenta...</p>
                <button class="group relative h-12 w-48 overflow-hidden rounded-lg bg-white text-lg shadow">
                    <div class="absolute inset-0 w-0 bg-[#7d6cd2] transition-all duration-[700ms] ease-out group-hover:w-full"></div>
                    <span class="relative text-black group-hover:text-white">Ver mas</span>
                  </button>
            </div>
        </div>
        </div> 
    </div>
</body>
</html>