<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="icon" type="image/png" href="/static/img/LOGOsencillopy.png" >
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap"
  rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Inicio</title>
    <style>
        /* .emprendedor-independiente {
            display: flex;
        }
        .pf-1{
            background-color:#6995C0;
            margin-right: 15px;
        }
        .pf-2{
            background-color: #6995C0;
            margin-right: 15px;
        } */
        body 
        {
    font-family: "Inter", sans-serif;
  }

  .background-animate {
    background-size: 400%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');
    </style>
</head>
<!------------------------------------------ ACA EMPIEZA EL CODIGO DE LA PAGINA --------------------------------------------------------->
<!-- ANIMACION DEL FONDO -->
<body class=" text-[#FAFAFA]
      w-full
      h-screen
      bg-gradient-to-r
      from-pink-500
      via-blue-500
      to-purple-500
      background-animate
    " style="font-family: 'Raleway', sans-serif;">

  <!-- ------------------------------------EL HEADER ------------------------------------------------------->
  <div class="justify-between" >
    <header class="flex justify-between items-center text-[#FAFAFA] text-xl" style="font-family: 'Raleway', sans-serif; font-weight: 900">
        <div class="flex justify-between items-center text-gray-800 p-2"> 
            <img src="/static/img/LOGOsencillopy.png" alt="" class="h-24 p-4">
            <p class="text-[#ffc901]">Sencillo</p><p class="text-[#FAFAFA]">Py</p>
        </div>
        <div class="space-x-4 p-4">
            <button class="group relative h-12 w-48 overflow-hidden drop-shadow-sm rounded-full bg-[#1f2937] text-lg shadow hover:bg-[#151B23] "><a href="{{url_for('formulario_registro')}}"> Registrarse</a>
              </button>
            <button class="text-[#1f2937] group relative h-12 w-48 drop-shadow-sm overflow-hidden rounded-full bg-[#fafafa] text-lg shadow hover:bg-[#EEE7E7]"><a href="{{url_for('inicio_sesion')}}">Iniciar Sesion</a>
              </button>
        </div>
    </header>

<!-------------------------------------------------EL TITULO -------------------------------------------------->
</div>
<div class="bg-[#1f2937] p-5 flex justify-center mx-40 my-8 rounded-xl mix-blend-hard-light">
<h1 class="text-5xl	font-bold text-[#ffc901]"> Sencillo </h1> <h1 class="text-5xl	font-bold text-[#FAFAFA] ">Py</h1>
</div>
<!-- --------------------------------CUADRADITO DONDE VAN LAS CARTAS--------------------------------------- -->
    <div class="flex justify-center space-x-44 items-center mx-40 my-10">
        <!-- PRIMERA CARTA: EMPRENDEDOR -->
        <div class="flex drop-shadow-sm items-center pf-1 max-w-lg max-h-30 rounded-lg shadow-md bg-gray-800 border-gray-700">
            <a href="#">
            </a>
            <div class="p-4 flex flex-col text-center">
                <a href="#">
                    <img class="rounded w-full h-60 object-cover object-center mb-3" src="/static/img/emprendedor_proyecto.webp" alt="" />
                    <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-white">¿Que es un Emprendedor?</h5>
                </a>
                <p class="mx-auto w-4/5 mb-3 font-normal text-gray-400">Un emprendedor es una persona que identifica una oportunidad y...</p>
                <button class="mx-auto group relative h-12 w-48 drop-shadow-sm overflow-hidden rounded-lg bg-white text-lg shadow">
                    <div class="absolute inset-0 w-0 bg-[#7d6cd2] transition-all duration-[700ms] ease-out group-hover:w-full"></div>
                    <span class="relative text-black group-hover:text-white"><a href="{{url_for('emprendedor')}}">Ver mas</a></span>
                  </button>
            </div>
        </div>
        <!-- SEGUNDA CARTA: PROFESIONAL INDEPENDIENTE -->
        <div class="flex drop-shadow-sm items-center pf-1 max-w-lg max-h-30  rounded-lg shadow-md bg-gray-800 border-gray-700">
            <a href="#">
            </a>
            <div class="p-4 flex flex-col text-center">
                <a href="#">
                    <img class="rounded w-full h-60 object-cover object-center mb-3" src="/static/img/profesional_independiente_proyecto.webp" alt="" />
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">¿Que es un profesional independiente?</h5>
                </a>
                <p class="mx-auto mb-3 font-normal text-gray-400 w-4/5">Un profesional independiente es la persona que trabaja por cuenta...</p>
                <button class="mx-auto group relative h-12 w-48 drop-shadow-sm overflow-hidden rounded-lg bg-white text-lg shadow">
                    <div class="absolute inset-0 w-0 bg-[#7d6cd2] transition-all duration-[700ms] ease-out group-hover:w-full"></div>
                    <span class="relative text-black group-hover:text-white"><a href="{{url_for('profesional')}}">Ver mas</a></span>
                  </button>
            </div>
        </div>
        </div> 
<!----------------------------------- ANHADIR "CONOCE A NUESTRO TEAM"--------------------- -------------------------->
<!----------------------------------- ANHADIR "CONOCE A NUESTRO TEAM"--------------------- -------------------------->
<!----------------------------------- ANHADIR "CONOCE A NUESTRO TEAM"--------------------- -------------------------->
</body>
</html>