<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" type="image/png" href="/static/img/LOGOsencillopy.png" >
    <link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap"
  rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Información</title>
    <style>
        /* .emprendedor-independiente {
            display: flex;
        }
        .pf-1{
            background-color:#6995C0;
            margin-right: 15px;
        }
        .pf-2{
            background-color: #6995C0;
            margin-right: 15px;
        } */
        body 
        {
    font-family: "Inter", sans-serif;
  }

  .background-animate {
    background-size: 400%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');
    </style>
</head>
<!------------------------------------------ ACA EMPIEZA EL CODIGO DE LA PAGINA --------------------------------------------------------->
<!-- ANIMACION DEL FONDO -->
<body class=" text-[#FAFAFA]
      w-full
      h-screen
      bg-gradient-to-r
      from-pink-500
      via-blue-500
      to-purple-500
      background-animate
    " style="font-family: 'Raleway', sans-serif;">

  <!-- ------------------------------------EL HEADER ------------------------------------------------------->
  <div class="justify-between" >
    <header class="flex justify-between items-center text-[#FAFAFA] text-xl" style="font-family: 'Raleway', sans-serif; font-weight: 900">
        <div class="flex justify-between items-center text-gray-800 p-2"> 
            <img src="/static/img/LOGOsencillopy.png" alt="" class="h-24 p-4">
            <a href="{{url_for('pag_inicio')}}"> <p class="text-[#ffc901]">Sencillo</p> </a> <a href="{{url_for('pag_inicio')}}"> <p class="text-[#FAFAFA]">Py</p></a>
        </div>
        <div class="space-x-4 p-4">
            <p class=" h-12 w-48 text-lg ">Hola, {{nombre_usuario}}</p>
    <!---------------------- !!!!!ACA PONER UN HOLA *USUARIO* @BACKEND!!!!! ----------------->
        </div>
    </header>
<!-------------------------------------------------EL TITULO -------------------------------------------------->
</div>
<div class="bg-[#1f2937] p-5 flex justify-center mx-40 my-8 rounded-xl mix-blend-hard-light">
<h1 class="text-5xl	font-bold text-[#ffc901]"> Sencillo </h1> <h1 class="text-5xl	font-bold text-[#FAFAFA] ">Py</h1>
</div>
<!------------------------------------------- CARDS --------------------------------------------------------->
<h2 class="text-5xl flex flex-wrap flex justify-center p-5 m-5 font-bold rounded-3xl"> Información básica del profesional independiente</h2>
<div class="bg-[#1f2937]  justify-left p-10 my-10 mx-40 rounded-3xl">
  <p class="text-xl text-center">Si sos un profesional independiente, te comentamos que la subsecretaría de tributación a través de su página MARANGATU pone a tu disposición guías paso a paso para registrarte.</p>
  <br>
  <p class="text-xl font-semibold text-center">Aquí te dejamos algunos términos que tenes que conocer:</p>
  <p class="text-xl text-center">* Cheque diferido: emitidos en una fecha, pero para ser presentados al cobro en una fecha posterior. También hay un plazo máximo de treinta días para su presentación, pero a contar desde la fecha de vencimiento fijada por la persona que emitió el cheque.</p>
  <br>
  <p class="text-xl text-center">* Cheque a la vista: Son pagaderos desde el día de su emisión y cuentan con treinta días para su presentación. </p>
  <br>
  <p class="text-xl text-center">* Girar cheques: se emiten por compañías que tienen la idea de comprar en el acto, el pago a terceros y abonos. Para que tenga validez el cheque se deberá abonar el encabezamiento al individuo que lo posea, esto se descuenta de la cuenta de la persona o compañía que emitió el cheque. </p>
  <br>
  <p class="text-xl text-center">* Caja de ahorro básica: La caja de ahorro es un tipo de cuenta bancaria básica. Es un instrumento en el cual podés depositar tu dinero para que el banco lo guarde. El dinero que colocas allí está siempre a tu disposición, es decir que podés extraerlo cuando quieras. </p>
  <br>
  <p class="text-xl text-center">* Cuenta Corriente (CTA-CTE): Es un producto ofrecido por los bancos, que facilita la administración del dinero. Es un contrato entre una persona (vos!) y un Banco, mediante la cuál el primero deposita dinero. </p>
</div>
<div class="flex justify-center items-center rounded object-cover object-center mb-3">
<img class="flex justify-center rounded w-80 object-cover object-center mb-3" src="/static/img/imagen_5.png" alt="" />
</div>
<!-------------------------------------------------EL BOTON DE VOLVER -------------------------------------------------->
<div class="flex justify-end">
    <button class="group relative h-12 w-48 drop-shadow-sm overflow-hidden rounded-lg bg-white text-lg shadow m-10">
        <div class="absolute inset-0 w-0 bg-[#1f2937] transition-all duration-[700ms] ease-out group-hover:w-full"></div>
        <span class="relative text-black group-hover:text-white"><a href ="{{url_for('pag_inicio')}}">Volver atras</a></span>
    </button>
</div>
</body>
</html>