<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Profesional Independiente</title>
</head>
<body class="bg-blue-500">
<div class="bg-blue-500">
    <div >
        <nav class="flex justify-between bg-yellow-300">
            <div> 
                <img class="h-8 w-8 p-2 border border-blue m-4" src="https://img.wattpad.com/useravatar/PDMHufflepuff.128.92925.jpg" alt="">
            </div>
            <div>
                <ul class="flex justify-between items-center">
                    <li class="p-4">Pagina Principal</li>
                    <li class="p-4">Sobre Nosotros</li>
                    <li class="p-4">Contacto</li>
                </ul>
            </div>
            <div class="p-4">
                <button class="bg-blue-700 hover:bg-yellow-300 text-grey font-bold py-2 px-4 rounded-full">
                    Registrarse
                </button>
                <button class="bg-blue-700 hover:bg-yellow-300 text-grey font-bold py-2 px-4 rounded-full">
                    Iniciar Sesion
                </button>
            </div>
        <div>
            
        </div>
    </nav>
    <h1 class="text-5xl	font-bold text-grey bg-yellow-300 p-5 m-10 flex justify-left rounded-3xl"> HUFFLEPUFF </h1>
    <br>
    <br>
    <div class="emprendedor text-white bg-yellow-300 p-5 m-10 rounded-3xl">
    <h2 class="text-2xl flex flex-wrap flex justify-left p-5 m-5 font-bold rounded-3xl bg-blue-700"> ¿Que es un Profesional independiente?</h2>
    <h3 class="text-2xl flex flex-wrap flex justify-left p-5 m-5 font-bold rounded-3xl bg-blue-700">Los profesionales independientes son personas que generan su propia fuente de ingreso. Si bien el promedio de estos profesionales suele obtener ingresos superiores al promedio de empleados asalariados, también es cierto que solo un pequeño porcentaje se convierte en personas ricas o acaudaladas.</h3>
    </div>
</body>
</html>