<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Vistaemprendedor</title>
</head>
<body class="bg-blue-500">
    <div class="bg-blue-500">
        <div >
            <nav class="flex justify-between bg-yellow-300">
                <div> 
                    <img class="h-8 w-8 p-2 border border-blue m-4" src="https://img.wattpad.com/useravatar/PDMHufflepuff.128.92925.jpg" alt="">
                </div>
                <div>
                    <ul class="flex justify-between items-center">
                        <li class="p-4">Pagina Principal</li>
                        <li class="p-4">Sobre Nosotros</li>
                        <li class="p-4">Contacto</li>
                    </ul>
                </div>
                <div>
                    <button class="bg-blue-500 hover:bg-blue-700 text-grey font-bold py-2 px-4 rounded-full">
                        Cerrar Sesion 
                    </button>
                </div>
            <div>
                
            </div>
        </nav>
    <div class=" font-bold text-grey bg-yellow-300 p-5 m-10 rounded-3xl">
        <h5 class="text-5xl">¿Eres un Emprendedor?</h5>
        <br>
        <p class="text-3xl">Encuentra la información que necesitas</p>
    </div>

    <div class="bg-yellow-300 rounded-3xl p-5 m-10 flex justify-center">
        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Todo sobre el IVA</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Haga click aqui</p>
        </a>

        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Todo sobre Caja de Ahorro</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Haga click aqui</p>
        </a>

        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Tributación</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Haga click aqui</p>
        </a>

    </div>
    <div class="bg-yellow-300 rounded-3xl p-5 m-10 flex justify-center">
        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Todo sobre el IVA</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Haga click aqui</p>
        </a>

        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Todo sobre Caja de Ahorro</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Haga click aqui</p>
        </a>

        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Tributación</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Haga click aqui</p>
        </a>

    </div>
    <div class="bg-yellow-300 rounded-3xl p-5 m-10 flex justify-center">
        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Todo sobre el IVA</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Haga click aqui</p>
        </a>

        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Todo sobre Caja de Ahorro</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Haga click aqui</p>
        </a>

        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Tributación</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Haga click aqui</p>
        </a>

    </div>
</body>
</html>